<h1>Restaurant</h1>

<div class="card-body bg-info-subtle w-75 mb-3 px-5">
  <h3> <%= @restaurant.name %>  </h3>


  <div class="card w-50 mb-3">
    <div class="card-body bg-info-subtle">
      <%= @restaurant.address %>
    </div>
  </div>
  <div>
    <p><strong>Reviews</strong></p>
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li clas="list-group-item"><%= review.content %></li>
        <p> <strong>Rating: </strong> <%=  review.rating %></p>
      <% end %>
    </ul>
  </div>
    <%= link_to "Write a review", new_restaurant_review_path(@restaurant.id)  %>
    <br>
    <%= link_to 'Back to list', restaurants_path %>
  <div>
    <p>
    </p>

  </div>

  </div>
